#about {
  padding: 30px 0;
}

#about h3 {
  color: #ff2a66;
  font-size: 0.8em;
  text-transform: uppercase;
  margin-bottom: 12px;
}

#about h1 {
  margin-bottom: 20px;
}

#about p {
  margin-bottom: 10px;
}

.about-list li {
  margin-left: 20px;
  margin-bottom: 12px;
}
