.banner {
  margin: 60px 150px;
  background: #043184;
  color: white;
  display: flex;
  align-items: center;
  padding: 40px;
}

.banner-content {
  flex: 3;
}

.banner-cta {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content h1 {
  margin-bottom: 30px;
}

.banner-content p {
  max-width: 50%;
}
