.covid-box {
  display: flex;
  background-color: #f8f8f8;
  margin: 30px auto;
  padding: 30px;
}

.box-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  color: black;
  padding: 30px;
  margin: 0 12px;
  text-align: center;
  flex: 1;
  white-space: nowrap;
}

.box-item p {
  margin-bottom: 30px;
}

.box-item span {
  font-size: 1.6em;
}

.confirmed span {
  color: #ff2a66;
}

.total-active span {
  color: #ffbe48;
}

.recovered span {
  color: #3cde36;
}

.deaths span {
  color: #0f121d;
}
