.dodonts {
  justify-content: center;
}

.dodonts .column {
  max-width: 600px;
}

.do,
.dont {
  flex: 1;
  text-align: center;
  padding: 0 30px;
}

.do span,
.dont span {
  margin-bottom: 20px;
}

.do span {
  background: #3cde36;
  color: white;
  padding: 12px;
}

.dont span {
  background: red;
  color: white;
  padding: 12px;
}

.dodont-img span {
  background: tomato;
}

.dodont-item {
  display: flex;
  background-color: #f8f8f8;
  padding: 30px 20px 30px 10px;
  border-radius: 8px;
  margin-bottom: 20px;
  align-items: center;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.dodont-img {
  flex: 1;
}

.dodont-content {
  flex: 4;
  text-align: left;
}
.dodont-content h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.dodont-item:hover {
  background-color: #043184;
  color: white;
}
