footer {
  background: #151a28;
  color: white;
  padding-top: 30px;
}

.main-footer > * {
  flex: 1;
  align-items: stretch;
}
.main-footer .column {
  padding: 20px;
}

.main-footer .column h3 {
  margin-bottom: 20px;
}

.main-footer .column p,
.main-footer .column ul {
  margin-bottom: 12px;
}

.footer-link {
  color: white;
  margin-bottom: 10px;
  display: flex;
}

.footer-link:hover {
  color: #ff2a66;
}

.social-icons {
  display: flex;
  justify-content: flex-start;
}

.social-icons li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-icons .footer-link {
  background-color: #ff2a66;
  margin-right: 12px;
  padding: 10px;
  border-radius: 1000px;
}

.social-icons .footer-link:hover {
  color: #151a28;
  background-color: white;
}

.footer-rights {
  background: #0f121d;
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0 10px;
}

.footer-rights .row {
  justify-content: space-between;
}

.rights-links {
  display: flex;
}

.rights-links .footer-link,
.rights-links p {
  margin-left: 10px;
}
