main {
  background-color: #043184;
  color: white;
}

.main {
  margin: 0 auto;
  max-width: 50%;
  padding: 30px;
  text-align: center;
}

.main h1 {
  margin-bottom: 30px;
}

.main p {
  margin-bottom: 40px;
}

.main .image {
  margin-top: 30px;
}
