#symptons .container .row .column {
  padding: 0 10px;
}

/* GAMBIARRA PRA MOCAR O TAMANHO DA IMAGEM */
#symptons .row .column:nth-child(even) {
  justify-content: space-between;
}

#symptons .row .column:nth-child(even) .image span {
  width: 200px;
  height: 300px;
  border-radius: 4px;
  margin-top: 50px;
}

#symptons .row .column:nth-child(even) .button {
  max-width: 80%;
  margin: 0 auto;
}

/* FIM DA GAMBIARRA */

.symptom-item {
  display: flex;
  background-color: #f8f8f8;
  padding: 30px 20px 30px 10px;
  border-radius: 8px;
  margin-bottom: 20px;
  align-items: center;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.symptom-img {
  flex: 1;
}

.symptom-content {
  flex: 4;
}
.symptom-content h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.symptom-item:hover {
  background-color: #043184;
  color: white;
}
