#washhands {
  background: #043184;
}

#washhands .section-header {
  color: white;
}

.washhands {
  flex-wrap: wrap;
  justify-content: center;
}

.washhands-item {
  padding: 20px;
  background: #f8f8f8;
  text-align: center;
  margin: 10px;
  width: 20%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.washhands-item:hover {
  background: #ff2a66;
  color: white;
}

.washhands-item .image span {
  width: 100px;
  height: 100px;
  margin-bottom: 12px;
}

.washhands-item p {
  padding: 0 30px;
  font-size: 1.2em;
  font-weight: bold;
}
